.flashFaceElement {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}

.flashFaceImage {
    width: 45%;
    height: auto;
}

.flashFaceFixation {
    font-size: 5vw;
}